<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <a href="/">Home Page</a>
    <a href="/Allcountry">All Countries</a>
    <a href="/records">My records </a>
</head>
<body>
    <form action="/getCountryResult" method="get">
        <input type="text" name="search" placeholder="Add country name">
        <input type="date" id="start" value="">
        <input type="date" id="end" value="">
        <button type="submit">SEARCH</button>
    </form>
</body>
</html>