<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <a href="/">Home Page</a>
    <a href="/countries">All Countries</a>
    <a href="/records">My records </a>
</head>
<body>
    <h1>Date: <%=object.text%></h1>
    <h2>Number of confirmed cases : <%=object.date%></h2>
</body>
</html>